# 1. BASE DE DATOS
# 'db-test' es el nombre del servicio en docker-compose.
# El puerto debe ser 5432 para comunicación interna entre contenedores.
DATABASE_URL=postgresql://postgres:postgres@db-test:5432/cleanfastapi

# 2. LLM Configuration
LM_STUDIO_URL=http://192.168.1.36:1234

# 3. CORS
CORS_ORIGINS="http://localhost:3001,http://192.168.1.129:3001,http://192.168.1.129:8080"

# 4. FRONTEND URL
FRONTEND_URL=http://192.168.1.129:3001

# 5. Backend Configuration
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8080

# 6. Teams Notifications
TEAMS_WEBHOOK_URL=false
ENABLE_TEAMS_NOTIFICATIONS=False


API_KEY=your-openai-api-key-here
