fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
slowapi
python-dotenv
pyjwt
passlib
bcrypt==4.0.1
python-multipart
email-validator
requests
openpyxl
xlsxwriter
beautifulsoup4
spacy
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0.tar.gz
httpx
python-docx
htmldocx
es_core_news_sm


cloudscraper
fake-useragent
trafilatura
html-to-docx


openai
python-dotenv